* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #262626 !important;
    font-family: 'DM Sans', sans-serif;

}

body {
    min-height: 100vh;
  
}

.body-container{
   max-width:800px;
   margin:0 auto;
   padding:12px;
}

main h4, main h6{
    font-weight:600;
}


main h4, main h6,  main p{
    margin-bottom:0px;
    
}



.experience-container, .skills-container, .projects-container{
    border-bottom:1px solid #D9D9D9;
    padding: 30px 0px 40px 0px;

}

.experience-container h6, .skills-span{
    line-height:24px;
}

#afrobeats-project-container {
    padding: 30px 0px 40px 0px;

}

.experience-date {
    font-weight:400;
    margin-bottom: 12px;
}

.skills-span{
    font-weight: 400;
}
.projects-span{
    font-weight:500;
    background-color:#F7E7B6;
    font-size: 12px;
    padding:4px;
    border-radius: 3px;
    color:#372B06;

}

footer{
    border-top:1px solid #D9D9D9;
    padding: 20px 0px 8px 0px;

}
/*Spacing */
.vertical-spacing-8{
    height:8px;
}

.vertical-spacing-16{
    height:16px;
}


.vertical-spacing-24{
    height:24px;
}


.vertical-spacing-32{
    height:32px;
}


.vertical-spacing-40{
    height:40px;
}

.vertical-spacing-48{
    height:48px;
}

.vertical-spacing-54{
    height:54px;
}

.vertical-spacing-60{
    height:60px;
}

.vertical-spacing-80{
    height:80px;
}