/*Universal Styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333342 !important;
    font-family: 'DM Sans', sans-serif;

}

body {
    min-height: 100vh;


}

main{
   max-width:800px;
   margin:0 auto;
}

main h4{
    font-weight:600;
}

main h6 {
    font-weight: 500;
}


/*Spacing */
.vertical-spacing-8{
    height:8px;
}

.vertical-spacing-16{
    height:16px;
}


.vertical-spacing-24{
    height:24px;
}
